target/
build/*
.gradle/*
*.class
bin/
#.classpath
#.project
#.settings
#STS project files
.springBeans

.apt_generated/*

#Node
bundle.js
npm-debug.log
**/node_modules/
.DS_Store
/*.env

/.apt_generated/
/.gradle/
/build/
src/main/resources/application.properties
